.panel.panel-default
    table.table.table-striped.table-bordered.table-hover.table-fixed-header.shadow
        thead.header
            tr
                th Flight Number
                th.hidden-xs  Airline
                th.hidden-xs Aircraft
                th.hidden-xs City (airport)
                th Terminal
                th Time
                th Status
        tbody
            each row in data
                tr
                    td
                        span(class='label label-' + row.status.class)= row.number
                    td.hidden-xs
                        img(alt='', src= row.airline.img)
                        span= row.airline.name
                    td.hidden-xs
                        span= row.aircraft.name + ' '
                        = row.aircraft.model
                    td.hidden-xs= row.destination
                    td
                        if (row.terminal === 'A')
                            i.fa.fa-a
                        else if (row.terminal === 'B')
                            i.fa.fa-b
                        else if (row.terminal === 'D')
                            i.fa.fa-d
                        else
                            i.fa.fa-minus
                    td= row.date.time
                        br
                        span= row.date.date
                    td(class= row.status.class)= row.status.text